/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    
}

/* Common */
html{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
#header{
    height: 46px;
    background-color: #000;
    font-size: 15px;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav > li > a{
    color: white;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li{
    width: 160px;
}

#nav .subnav li a{
    color: #000;
    line-height: 38px;
    padding:  0 16px;
}

#nav li:hover .subnav{
    display: block;
}

/* Slider */
#slider{

}

#content{
    
}

#footer{
    
}
