/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    
}

/* Common */
html{
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}

#nav, .subnav, .ticket-list{
    list-style: none;
}

.modal.open{
    display: flex;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding: 0 8px;
}

.col-one-third{
    width: 33.33333% !important;
}

.col-one-half{
    width: 50% !important;
}

.col-one-full{
    width: 100% !important; 
}

.text-center{
    text-align: center !important;
}

.black-btn{
    margin-top: 15px;
    background-color: #000;
    border: none;
    color: #fff;
    padding: 12px 20px;
}

.black-btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.mt-16{
    margin-top: 16px;
}

.pull-right{
    float: right;
}

/* Header */
#header{
    height: 46px;
    background-color: #000;
    font-size: 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav > li > a{
    color: white;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
}

#nav .subnav li{
    width: 160px;
}

#nav .subnav li a{
    color: #000;
    line-height: 38px;
    padding:  0 16px;
}

#nav li:hover .subnav{
    display: block;
}

.arr-down-icon{
    font-size: 14px;
}

.search-btn{
    float: right;
}

.search-btn .search-icon{
    font-size: 20px;
    color: #fff;
    line-height: 46px;
    padding: 0 21px;
}

.search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

/* Slider */
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider1.jpg) top center / cover no-repeat;
    position: relative;
}

#slider .slider-content{
    color: #fff;
    position: absolute;
    bottom: 0;
    margin-bottom: 42px;
    text-align: center;
    width: 100%;
}

#slider .slider-heading{
    font-size: 24px;
    font-weight: 400;
}

#slider .slider-desc{
    margin-top: 25px;
    font-size: 15px;
}

/* Content : About*/

#content{
    
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px 0;
}

#content .content-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .content-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-content{
    margin-top: 15px;
    line-height: 1.4;
    text-align: justify;
    margin-bottom: 15px;
}

.member-list{
    padding: 32px 0;
}


.member-list .member-name{
    font-size: 15px;
}

.member-list .member-img{
    width: 124px;
    margin-top: 15px;
    border-radius: 4px;
    
}

/* Tour */
.tour-section{
    background-color: #000;
}

.tour-section .ticket-list{
    background-color: #fff;
    margin-top: 33px;
}

.ticket-list li{
    padding: 11px 16px;
    border: 1px solid #ddd;
    font-size: 15px;
    color: #757575;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
    margin-left: 16px;
}

.ticket-list .quantity{
    float: right;
    background-color: #000;
    color: #fff;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    margin-top: -4px;
}

/* Tour Location */

.location-list{
    margin-top: 32px;
    margin-bottom: 32px;
}


.location-list .location-img{
    width: 100%;
    display: block;
}

.location-list .location-content{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.location-list .loc-heading{
    font-size: 15px;
}

.location-list .loc-date{
    margin-top: 15px;
    opacity: 0.6;
}

.location-list .loc-desc{
    margin-top: 15px;
    line-height: 1.4;
}

/* Contact */

.contact-content{
    margin-top: 47px;
}

.contact-list{
    font-size: 18px;
}

.contact-list i{
    display: inline-block;
    width: 30px;
}

.contact-form{
    font-size: 15px;
}

.form-control{
    width: 100%;
    padding: 11px 8px;
}

#footer{
    
}

/* Modal */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
}

.modal-container{
    background-color: #fff;
    position: relative;
    width: 900px;
    max-width: calc(100% - 32px);
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #fff;
}

.modal-close:hover{
    cursor: pointer;
    background-color: #f44336;
}

.modal-header .bag-icon{
    margin-right: 16px;
}

.modal-header {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

.modal-header{
    background-color: #009688;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-form{
    padding: 15px;
}

.modal-label{
    display: block;
    margin-bottom: 12px
}

.modal .modal-input{
    width: 100%;
    margin-bottom: 24px;
    padding: 11px 8px;
}

.pay-btn{
    width: 100%;
    padding: 16px;
    background-color: #009688;
    border: none;
    color: white;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.pay-btn:hover{
    background-color: #ccc;
    color: #000;
}

.modal-footer{
    float: right;
    margin-bottom: 32px;
    padding: 10px;
}

.modal-footer a{
    color: #2196F3;
}



